<html>

<head>
  <meta charset="UTF-8" />
  <style>
    body {
      margin: 0;
      width: 100%;
      display: grid;
      justify-content: center;
    }

    header,
    h1,
    .content,
    .before-footer {
      padding: 0 20px;
    }

    a {
      text-decoration: none;
    }

    a>button {
      font-size: 1.2rem;
      border-radius: 20px;
      border: none;
      background-color: #f8c600;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
      padding: 10px;
      margin: 30px 0;
    }

    h1 {
      font-weight: 800;
      font-size: 3rem;
      margin-top: 50px;
    }

    header {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 20px;
      align-items: center;
      padding-top: 20px;
    }

    header>img {
      height: 75px;
      width: 75px;
      border-radius: 100%;
    }

    header>div {
      font-size: 2rem;
      font-weight: bold;
    }

    .content>div {
      margin: 15px 0;
    }

    .before-footer {
      font-size: 0.85rem;
      text-align: center;
    }

    footer {
      background-color: rgba(248, 198, 0, 0.48);
      padding: 10px;
      text-align: center;
      font-size: 0.8rem;
    }

    footer>div {
      margin: 10px 0;
    }

    footer>div:first-of-type {
      margin-top: 0;
    }

    footer>div:first-of-type>a {
      font-style: normal;
    }

    footer>div:nth-of-type(3) {
      margin-bottom: 0;
    }

    footer>div:last-of-type {
      margin-top: 0;
      margin-bottom: 0;
    }

    .action-button {
      text-align: center;
    }
  </style>
</head>

<body>
  <header class="header">
    <img src="https://image.freepik.com/psd-gratuit/maquette-logo-mur-gris_35913-2179.jpg" alt="logo" />
    <div>See You Again ( SYA )</div>
  </header>
  <h1>Account Creation</h1>
  <div class="content">
    <div>
      Thank you for signin up on SYA, the number 1 entertaintment platform in
      Cameroun. We wish you a great stay with us and hope you bring more
      people.
    </div>
    <div>
      This Sign-up brought you {{sign_up_bonus}} SYA’s to use in any SYA Structure on the
      platform for your pruchases.
      <p>
        {{more_message}}
      </p>
    </div>
    <div>
      If you want to get more SYA, to win {{referral_bonus}} SYA, connect your friends unto the
      platform by using your referal link
      <a href="{{referral_link}}">
        {{referral_link}}</a>
    </div>
  </div>
  <div class="action-button">
    <a href="https://www.seeyouagain.fun"><button>Start Shopping Now</button></a>
  </div>

  <div class="before-footer">
    More information on the collaboration between your structure and the SYA
    team can be found in the <a href="#">terms of agreement</a> document.
  </div>

  <footer>
    <div>
      <a href="https://www.seeyouagain.fun/contact-us">CONTACT US </a>
    </div>
    <div>
      SYA entertaintment structure listing platform. | Generated by SYA Engine
    </div>
    <div>SYA LLC, Douala - Akwa - 12e Rue</div>
    <div>
      You are receving this email because you’re registered for the structure
      on the SYA platform If it is not the case we sincerely apologize. You
      can <a href="#">signal the error here</a> to stop receiving mails
    </div>
  </footer>
</body>

</html>