<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        margin: 0;
        width: 100%;
        display: grid;
        justify-content: center;
      }
      header,
      h1,
      .content,
      .before-footer {
        padding: 0 20px;
      }
      a {
        text-decoration: none;
      }
      a > button {
        font-size: 1.2rem;
        border-radius: 20px;
        border: none;
        background-color: #f8c600;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
        padding: 10px;
        margin: 30px 0;
      }
      h1 {
        font-weight: 800;
        font-size: 3rem;
        margin-top: 50px;
      }
      header {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px;
        align-items: center;
        padding-top: 20px;
      }
      header > img {
        height: 75px;
        width: 75px;
        border-radius: 100%;
      }

      header > div {
        font-size: 2rem;
        font-weight: bold;
      }

      .content > div {
        margin: 15px 0;
      }
      .before-footer {
        font-size: 0.85rem;
        text-align: justify;
      }
      footer {
        background-color: rgba(248, 198, 0, 0.48);
        padding: 10px;
        text-align: center;
        font-size: 0.8rem;
      }
      footer > div {
        margin: 10px 0;
      }
      footer > div:first-of-type {
        margin-top: 0;
      }
      footer > div:first-of-type > a {
        font-style: normal;
      }
      footer > div:nth-of-type(3) {
        margin-bottom: 0;
      }
      footer > div:last-of-type {
        margin-top: 0;
        margin-bottom: 0;
      }
      .action-button {
        text-align: center;
      }
      .order-details > .order-details-header {
        font-size: 1.8rem;
        font-weight: bold;
      }
      .order-items {
        padding-left: 20px;
      }
      .order-item {
        padding: 5px 0;
      }
      .order-item > span:first-of-type {
        font-weight: 600;
        color: rgba(0, 0, 0, 0.7);
      }
    </style>
  </head>
  <body>
    <header class="header">
      <img
        src="https://image.freepik.com/psd-gratuit/maquette-logo-mur-gris_35913-2179.jpg"
        alt="logo"
      />
      <div>See You Again ( SYA )</div>
    </header>
    <h1>Structure Validation Notice</h1>
    <div class="content">
      <div>
        This is to notify you that your structure for which you created an
        account on SYA platform has been validated by the admins this
        {{validation_date}}
      </div>
      <div class="nb-block">
        <span
          >You can now <a href="https://www.seeyouagain.fun">login</a> to
          configure your structure and make it visible in the system.</span
        >
      </div>
      <div class="order-details">
        <div class="order-details-header">Configurations to do</div>
        <div class="order-items">
          <div class="order-item">
            <span>Structure Profile</span>
          </div>
          <div class="order-item">
            <span>Structure schedules</span>
          </div>
          <div class="order-item">
            <span>Services offered</span>
          </div>
          <div class="order-item">
            <span>Catalogs</span>
          </div>
          <div class="order-item">
            <span>Promotions</span>
          </div>
          <div class="order-item">
            <span>Publications</span>
          </div>
        </div>
      </div>
    </div>
    <div class="action-button">
      <a href="https://www.seeyouagain.fun"><button>Login Now</button></a>
    </div>

    <div class="before-footer">
      Given that you just created your account, all services will be on
      promotion until the system gets a number of bonus points from your
      account. These are the entry costs. Also, you’ll have to pay monthly dues
      to keep being on the system. this will be a percentage of your total
      revenue of the previous month. more details can be found in the
      <a href="#">terms of agreement</a> accepted during account creation.
    </div>

    <footer>
      <div>
        <a href="https://www.seeyouagain.fun/contact-us">CONTACT US </a>
      </div>
      <div>
        SYA entertaintment structure listing platform. | Generated by SYA Engine
      </div>
      <div>SYA LLC, Douala - Akwa - 12e Rue</div>
      <div>
        You are receving this email because you’re registered on the SYA
        platform If it is not the case we sincerely apologize. You can
        <a href="#">signal the error here</a> to stop receiving mails
      </div>
    </footer>
  </body>
</html>
