<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        margin: 0;
        width: 100%;
        display: grid;
        justify-content: center;
      }
      header,
      h1,
      .content,
      .before-footer {
        padding: 0 20px;
      }
      a {
        text-decoration: none;
      }
      h1 {
        font-weight: 800;
        font-size: 3rem;
        margin-top: 50px;
      }
      header {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px;
        align-items: center;
        padding-top: 20px;
      }
      header > img {
        height: 75px;
        width: 75px;
        border-radius: 100%;
      }

      header > div {
        font-size: 2rem;
        font-weight: bold;
      }

      .content > div {
        margin: 15px 0;
      }
      .before-footer {
        font-size: 0.85rem;
        text-align: center;
        margin-top: 70px;
      }
      footer {
        background-color: rgba(248, 198, 0, 0.48);
        padding: 10px;
        text-align: center;
        font-size: 0.8rem;
      }
      footer > div {
        margin: 10px 0;
      }
      footer > div:first-of-type {
        margin-top: 0;
      }
      footer > div:first-of-type > a {
        font-style: normal;
      }
      footer > div:nth-of-type(3) {
        margin-bottom: 0;
      }
      footer > div:last-of-type {
        margin-top: 0;
        margin-bottom: 0;
      }
      .action-button {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header class="header">
      <img
        src="https://image.freepik.com/psd-gratuit/maquette-logo-mur-gris_35913-2179.jpg"
        alt="logo"
      />
      <div>See You Again ( SYA )</div>
    </header>
    <h1>Structure Creation Notice</h1>
    <div class="content">
      <div>
        This is to notify you that your structure for which you created an
        account on SYA platform has been received and is under verification by
        the admins.
      </div>
      <div class="nb-block">
        <span
          >You’ll receive a notification email as soon as your structure will be
          validated.</span
        >
      </div>
    </div>

    <div class="before-footer">
      From the SYA Team, Thank you for trusting and collaborating with us. We’ll
      offer you the best experience during your stay with us
    </div>

    <footer>
      <div>
        <a href="https://www.seeyouagain.fun/contact-us">CONTACT US </a>
      </div>
      <div>
        SYA entertaintment structure listing platform. | Generated by SYA Engine
      </div>
      <div>SYA LLC, Douala - Akwa - 12e Rue</div>
      <div>
        You are receving this email because you’re registered on the SYA
        platform If it is not the case we sincerely apologize. You can
        <a href="#">signal the error here</a> to stop receiving mails
      </div>
    </footer>
  </body>
</html>
